:root {
  --text: #060f0d;
  --background: #f4fbf9;
  --primary: #55bca4;
  --secondary: #a39ad7;
  --accent: #a574c8;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text);
  background-color: var(--background);

  width: 80%;
  margin: auto;
}

#projects article {
  user-select: none;
  
  width: min-content;

  padding: 1rem;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: 0.2em 0.2em 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.1s,box-shadow 0.1s;

  flex-grow: 1;
}

#projects article:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  box-shadow: 0.2em 0.4rem 10px rgba(0, 0, 0, 0.2);

  transition: transform 0.2s,box-shadow 0.2s;
}

#projects article img {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;

  border-radius: 0.5rem;
}

a {
  background-color: var(--primary);
  color: var(--text);
  padding: 0.5em;
  border-radius: 0.5rem;
  vertical-align: super;
  text-decoration: none;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
