body {
  height: 100vh;
  margin: 0px;
  padding: 0px;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "main";

  background-color: #f8fbf4;
  color: #0f1409;
}

header {
  grid-area: header;
}

h1 {
  font-size: 2em;
  margin: 1em;
  padding: 0px;
  text-align: center;
  user-select: none;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  grid-area: main;
}

p {
  position: fixed;
  font-size: 2em;
  user-select: none;
  margin: 0px;
}

p:hover {
  cursor: pointer;
}
