:root {
  --text: #f2daec;
  --background: #1c0a19;
  --primary: #d78fc7;
  --secondary: #812e42;
  --accent: #c6616c;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
  width: 50%;
  margin: auto;
  padding: 0;
}

main {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 1em 0px;
  grid-template-areas:
    "setup"
    "next"
    "delivery";
}

section {
  text-align: center;
}

#setup {
  grid-area: setup;
}

#next {
  grid-area: next;

  box-shadow: 0.2em 0.2em 10px var(--secondary);

  transition: transform 0.1s, box-shadow 0.1s;
  background-color: var(--accent);
  color: var(--text);
  padding: 1.5em;
  border-radius: 1.5em;
}

#next:hover {
  cursor: pointer;

  transform: translateY(-0.2rem);
  box-shadow: 0.2em 0.4rem 10px var(--secondary);

  transition: transform 0.2s, box-shadow 0.2s;
}

#delivery {
  grid-area: delivery;
  display: none;
}
