:root{
    /* default colors */
    --text: #090706;
    --background: #faf9f7;
    --primary: #b08757;
    --secondary: #d5b692;
    --accent: #d3a673;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

body{
    font-family: var(--primary-font);
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 80vh;
    padding: 10vh 10%;
}

#slideImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slideTitle{
    font-family: var(--primary-font);
}

#slideContent{
    font-family: var(--secondary-font);
}

/* ======
LAYOUTS 
====== */

#slideImage { grid-area: slideImage; }
#slideContent { grid-area: slideContent; }
#slideTitle { grid-area: slideTitle; }
#nextButton { grid-area: nextButton; }
#prevButton { grid-area: prevButton; }

.image-right {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: min-content 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideTitle slideImage"
      "slideContent slideImage"
      "prevButton nextButton"; 
}

.image-right-alt {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: min-content 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideTitle slideTitle"
      "slideContent slideImage"
      "prevButton nextButton"; 
}

.image-left {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: min-content 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideImage slideTitle"
      "slideImage slideContent"
      "prevButton nextButton"; 
}

.image-left-alt {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: min-content 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideTitle slideTitle"
      "slideImage slideContent"
      "prevButton nextButton"; 
}
  
.image-top-title-left {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 10em 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideImage slideImage"
      "slideTitle slideContent"
      "prevButton nextButton"; 
}

.image-top-title-top {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 10em 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
      "slideImage slideImage"
      "slideTitle slideTitle"
      "slideContent slideContent"
      "prevButton nextButton"; 
}